In [6]:
import os
import sys
import pandas as pd 

current_dir = os.getcwd()
project_root = os.path.abspath(os.path.join(current_dir, ".."))

sys.path = project_root

from sqlconnection import create_db_engine

connection = create_db_engine()

df_test = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie'],
    'score': [85, 90, 78]
})

df_test.to_sql('test_table', con=connection, index=False, if_exists='replace') 
print("âœ… DataFrame pushed to MySQL table: test_table")

ImportError: cannot import name 'create_db_engine' from 'sqlconnection' (/Users/jojongai/Desktop/Capstone/Back_End/sqlconnection.py)